/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ea;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.header {
    color: #228B22;
    text-align: center;
    margin-bottom: 20px;
}

.form-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.form-container label {
    font-weight: bold;
}

.form-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.submit-button {
    background-color: #228B22;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
}

.plant-list {
    list-style: none;
    padding: 0;
}

.plant-list li {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.plant-list a {
    text-decoration: none;
    color: #343a40;
    font-weight: bold;
}

.plant-image {
    max-width: 100px;
    max-height: 100px;
    margin-top: 10px;
}

.plant-info {
    margin-top: 10px;
    font-size: 14px;
}
