<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/common/layout}"
      lang="ko">
<th:block layout:fragment="content">
<div class="container mt-5">
    <h1 class="text-center text-success mb-4">사전 식물 목록</h1>

    <h2 class="text-success">등록된 사전 식물 목록</h2>
    <ul class="plant-list">
        <li th:each="plant : ${plants}">
            <a th:href="@{|/admin/dict/${plant.id}|}">
                <div>
                    <div class="d-flex justify-content-between align-items-center">
                        <div>
                            <span class="font-weight-bold">ID:</span> <span th:text="${plant.id}"></span>
                        </div>
                        <span class="font-weight-bold">이름:</span> <span th:text="${plant.name}"></span>
                    </div>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="plant-info">
                            <span class="font-weight-bold">생성일:</span> <span th:text="${plant.createdAt}"></span>
                        </div>
                        <div class="plant-info">
                            <span class="font-weight-bold">수정일:</span> <span th:text="${plant.updatedAt}"></span>
                        </div>
                    </div>
                    <img class="plant-image" th:src="${plant.imageUrl}" th:alt="${plant.name}"/>
                </div>
            </a>
        </li>
    </ul>

    <nav aria-label="Page Navigation">
        <ul class="pagination justify-content-center">
            <li class="page-item" th:classappend="${page.number == 0} ? 'disabled' : ''">
                <a class="page-link" th:if="${page.number != 0}" th:href="@{|/admin/dict?page=0|}">처음으로</a>
            </li>

            <li class="page-item" th:classappend="${page.hasPrevious()} ? '' : 'disabled'">
                <a class="page-link" th:if="${page.hasPrevious()}" th:href="@{|/admin/dict?page=${page.number - 1}|}"
                   tabindex="-1">이전</a>
            </li>

            <th:block
                    th:with="startPage=${(page.number - 5 < 0 ? 0 : page.number - 5)}, endPage=${(page.number + 4 >= page.totalPages ? page.totalPages - 1 : page.number + 4)}">
                <li th:each="pageNumber : ${#numbers.sequence(startPage, endPage)}" class="page-item"
                    th:classappend="${pageNumber == page.number} ? 'active' : ''">
                    <a class="page-link" th:href="@{|/admin/dict?page=${pageNumber}|}" th:text="${pageNumber + 1}"></a>
                </li>
            </th:block>

            <li class="page-item" th:classappend="${page.hasNext()} ? '' : 'disabled'">
                <a class="page-link" th:if="${page.hasNext()}" th:href="@{|/admin/dict?page=${page.number + 1}|}">다음</a>
            </li>

            <li class="page-item" th:classappend="${page.number == page.totalPages - 1} ? 'disabled' : ''">
                <a class="page-link" th:if="${page.number != page.totalPages - 1}"
                   th:href="@{|/admin/dict?page=${page.totalPages - 1}|}">끝으로</a>
            </li>
        </ul>
    </nav>
</div>
</th:block>
</html>
