<!DOCTYPE html>
<html lang="ko"
      layout:decorate="~{admin/common/layout}"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<th:block layout:fragment="content">
    <div class="container mt-5">
        <h1 class="text-center mb-4">사전 식물 상세정보</h1>

        <h2 th:text="${plant.name}"></h2>

        <div class="mt-2">
            <label for="name">이름:</label>
            <div class="form-control" id="name" th:field="${plant.name}" th:text="${plant.name}"></div>
        </div>

        <div class="mt-2" style="width: 300px">
            <img class="plant-image" th:alt="${plant.name}" th:src="${plant.imageUrl}">
        </div>

        <div class="mt-2">
            <label for="image">이미지 URL:</label>
            <div class="form-control" id="image" th:field="${plant.imageUrl}" th:text="${plant.imageUrl}"></div>
        </div>

        <div class="mt-2">
            <label for="familyName">과명:</label>
            <div class="form-control" id="familyName" th:field="${plant.familyName}"
                 th:text="${plant.familyName}"></div>
        </div>

        <div class="mt-2">
            <label for="smell">향:</label>
            <div class="form-control" id="smell" th:field="${plant.smell}" th:text="${plant.smell}"></div>
        </div>

        <div class="mt-2">
            <label for="poison">독성:</label>
            <div class="form-control" id="poison" th:field="${plant.poison}" th:text="${plant.poison}"></div>
        </div>

        <div class="mt-2">
            <label for="manageLevel">관리 난이도:</label>
            <div class="form-control" id="manageLevel" th:field="${plant.manageLevel}"
                 th:text="${plant.manageLevel}"></div>
        </div>

        <div class="mt-2">
            <label for="growSpeed">성장 속도:</label>
            <div class="form-control" id="growSpeed" th:field="${plant.growSpeed}" th:text="${plant.growSpeed}"></div>
        </div>

        <div class="mt-2">
            <label for="requireTemp">요구 온도:</label>
            <div class="form-control" id="requireTemp" th:field="${plant.requireTemp}"
                 th:text="${plant.requireTemp}"></div>
        </div>

        <div class="mt-2">
            <label for="minimumTemp">최소 온도:</label>
            <div class="form-control" id="minimumTemp" th:field="${plant.minimumTemp}"
                 th:text="${plant.minimumTemp}"></div>
        </div>

        <div class="mt-2">
            <label for="requireHumidity">요구 습도:</label>
            <div class="form-control" id="requireHumidity" th:field="${plant.requireHumidity}"
                 th:text="${plant.requireHumidity}"></div>
        </div>

        <div class="mt-2">
            <label for="postingPlace">배치 장소:</label>
            <div class="form-control" id="postingPlace" th:field="${plant.postingPlace}"
                 th:text="${plant.postingPlace}"></div>
        </div>

        <div class="mt-2">
            <label for="specialManageInfo">특별 관리 정보:</label>
            <div class="form-control" id="specialManageInfo" th:field="${plant.specialManageInfo}"
                 th:text="${plant.specialManageInfo}"></div>
        </div>

        <div class="mt-2">
            <label for="spring">물 주기(봄):</label>
            <div class="form-control" id="spring" th:field="${plant.waterCycle.spring}"
                 th:text="${plant.waterCycle.spring}"></div>
        </div>

        <div class="mt-2">
            <label for="summer">물 주기(여름):</label>
            <div class="form-control" id="summer" th:field="${plant.waterCycle.summer}"
                 th:text="${plant.waterCycle.summer}"></div>
        </div>

        <div class="mt-2">
            <label for="autumn">물 주기(가을):</label>
            <div class="form-control" id="autumn" th:field="${plant.waterCycle.autumn}"
                 th:text="${plant.waterCycle.autumn}"></div>
        </div>

        <div class="mt-2">
            <label for="winter">물 주기(겨울):</label>
            <div class="form-control" id="winter" th:field="${plant.waterCycle.winter}"
                 th:text="${plant.waterCycle.winter}"></div>
        </div>

        <div class="mt-2">
            <a class="btn btn-primary" th:href="@{|/admin/dict/${plant.id}/update|}">수정하기</a>
            <a class="btn btn-danger" th:onclick="|confirmDelete(${plant.id})|">삭제하기</a>
        </div>
    </div>
</th:block>

<th:block layout:fragment="script">
    <script th:inline="javascript">
        function confirmDelete(id) {
            let result = confirm('삭제하시겠습니까?');
            if (result) {
                fetch(`/dictionary-plants/${id}`, {
                    method: 'DELETE'
                })
                    .then(function (response) {
                        if (response.ok) {
                            alert('삭제되었습니다.');
                            window.location.replace("/admin/dict");
                        } else {
                            alert('오류가 발생했습니다.');
                        }
                    })
                    .catch(function (error) {
                        console.error('Fetch 오류:', error);
                        alert('오류가 발생했습니다.');
                    });
            } else {
            }
        }
    </script>
</th:block>
</html>
