<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/common/layout}"
      lang="ko">
<body>

<th:block layout:fragment="content">
    <div class="container mt-5">
        <h1 th:text="|사용자: ${admin.account}|" class="text-center text-success mb-4"></h1>
        <ul class="list-group">
            <li class="list-group-item">
                <a th:href="@{/admin/dict}" class="text-decoration-none">
                    <div>
                        사전 식물 목록
                    </div>
                </a>
            </li>
            <li class="list-group-item">
                <a th:href="@{/admin/dict/create}" class="text-decoration-none">
                    <div>
                        사전 식물 등록
                    </div>
                </a>
            </li>
            <li class="list-group-item">
                <a th:href="@{/admin/dict/requests}" class="text-decoration-none">
                    <div>
                        사전 식물 등록 요청 확인
                    </div>
                </a>
            </li>
        </ul>
    </div>
</th:block>
</body>
</html>
