<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <title>피움 어드민</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
</head>
<body>
<div class="container mt-5">
    <h1 th:text="|Welcome! ${admin.account}|" class="text-center text-success mb-4"></h1>
    <ul class="list-group">
        <li class="list-group-item">
            <a th:href="@{/admin/dict}" class="text-decoration-none">
                <div>
                    등록된 사전 식물 목록
                </div>
            </a>
        </li>
        <li class="list-group-item">
            <a th:href="@{/admin/dict/post}" class="text-decoration-none">
                <div>
                    사전 식물 등록하기
                </div>
            </a>
        </li>
        <li class="list-group-item">
            <a th:href="@{/admin/dict/requests}" class="text-decoration-none">
                <div>
                    사전 식물 등록 요청 확인하기
                </div>
            </a>
        </li>
    </ul>
</div>
</body>
</html>
